@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

/*#region portfolio  */
.nav-pills .nav-item .nav-link {
    padding: 15px 15.5px;
    text-align: center;
    height: auto;
    width: auto;
    font-weight: 600;
    color: #9A9A9A;
    background-color: rgba(222, 222, 222, 0.3);
    border-radius: 8px;
}

.fa-external-link {
    font-size: 18px;
}

/*#endregion portfolio  */

/*#region expereince */
.experiences .experience-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.experiences .experience-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.experiences .experience-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #18d26e;
    margin-bottom: 10px;
}

.experiences .experience-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.experiences .experience-item ul {
    padding-left: 20px;
}

.experiences .experience-item ul li {
    padding-bottom: 10px;
}

.experiences .experience-item:last-child {
    padding-bottom: 0;
}

.experiences .experience-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #18d26e;
    border: 2px solid #18d26e;
}

.tabSpace {
    margin-left: 20px;
}

.cc-education {
    margin-top: -50px;
}

/*#endregion expereince */

/*#region download button */
.buttonHolder {
    bottom: 1%;
    right: 1%;
    z-index: 9999;
    position: fixed;
    z-index: 1;
}

.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white,
        inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
    float: left;
    height: 70px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 70px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.button:after {
    color: #e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.tick:after {
    content: "✔";
    left: 23px;
    top: 20px;
}

.button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color: #0088cc;
}

.tick:hover:after {
    color: #83d244;
    text-shadow: 0px 0px 6px #83d244;
}

.button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.button:active:after {
    color: #dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

/*#endregion download button */